<div class="box-form">
    <div class="left">
        <div class="overlay">
            <h1>Intranet Fresmar</h1>
            <p> Al acceder tendrás acceso a la Intranet de la empresa y todas sus funcionalidades.</p>
        </div>
    </div>
    <div class="right">
        <h5>Login</h5>
        <p style="margin-top: 100px;"> No tienes una cuenta? <a class="link" (click)="onRegisterClick()">Crear Cuenta</a> Esto solamente tomará un minuto.</p>
        <div class="inputs">
            <form [formGroup]="formularioLogin" (ngSubmit)="Login()" class="login">
                <input formControlName="usuario" type="text" placeholder="Usuario" id="usuario" class="validate">
                <br>
                <input formControlName="password" type="password" id="clave" placeholder="Contraseña" class="validate">
                <br><br>
                <div class="remember-me--forget-password">
                    <p> Olvidaste la contraseña ? <a class="link" h (click)="onResetPassClick()">Recuperar</a> </p>
                </div>
                <br>
                <button type="submit" name="action"> Entrar </button>
            </form>
        </div>
    </div>
</div>
