
  <!-- Hero -->
  <section class="et-hero-tabs">
    <h1>Solicitudes Fresmar</h1>
    <h3>Aqui podras realizar solicitudes.</h3>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-es6"> Vacaciones </a>
      <a class="et-hero-tab" href="#tab-flexbox"> Cesantias </a>
      <a class="et-hero-tab" href="#tab-react"> Auxilios </a>
      <a class="et-hero-tab" href="#tab-angular"> Permisos </a>
      <a class="et-hero-tab" href="#tab-other"> Prestamo </a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="tab-es6">
      <h1>Vacaciones </h1>
      <h3> Proximamente disponible ...</h3>
    </section>
    <section class="et-slide" id="tab-flexbox">
      <h1> Cesantias </h1>
      <h3> Proximamente disponible ...</h3>
    </section>
    <section class="et-slide" id="tab-react">
      <h1> Auxilios </h1>
      <h3> Proximamente disponible ...</h3>
    </section>
    <section class="et-slide" id="tab-angular">
      <h1> Permisos </h1>
      <h3> Proximamente disponible ...</h3>
    </section>
    <section class="et-slide" id="tab-other">
      <h1> Prestamo </h1>
      <h3> Proximamente disponible ...</h3>
    </section>
  </main>